{% load active_link_tags %}
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
               {% if user.user_type == '1' %}
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                     </li>
                     <li class="submenu {% active_link 'view_student' 'active' %} {% active_link 'add_student' 'active' %}">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                        <ul>

                           <li><a href="{% url 'view_student' %}">Student View</a></li>
                           <li><a href="{% url 'add_student' %}">Student Add</a></li>

                        </ul>
                     </li>
                     <li class="submenu {% active_link 'view_stuff' 'active' %} {% active_link 'add_stuff' 'active' %}">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'view_stuff' %}">Staff View</a></li>
                           <li><a href="{% url 'add_stuff' %}">Staff Add</a></li>
                        </ul>
                     </li>
                     <li class="submenu {% active_link 'view_department' 'active' %} {% active_link 'add_department' 'active' %}">
                        <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_department' %}">Department Add</a></li>
                           <li><a href="{% url 'view_department' %}">Department View</a></li>
                        </ul>
                     </li>
                     <li class="submenu {% active_link 'view_course' 'active' %} {% active_link 'add_course' 'active' %} ">
                        <a href="#"><i class="fas fa-book-reader"></i> <span> Course</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'view_course' %}">Course View</a></li>
                           <li><a href="{% url 'add_course' %}">Course Add</a></li>

                        </ul>
                     </li>
                     <li class="submenu {% active_link 'view_session' 'active' %} {% active_link 'add_session' 'active' %}">
                        <a href="#"><i class="fas fa-clock" ></i> <span> Session</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_session' %}">Session Add</a></li>
                           <li><a href="{% url 'view_session' %}">Session view</a></li>
                        </ul>
                     </li>
                     <li class="{% active_link 'stuff_send_notification' 'active' %}">
                        <a href="{% url 'stuff_send_notification' %}"><i class="fas fa-bell"></i> <span>Send Staff Notification  </span></a>
                     </li>
                     <li class="{% active_link 'student_send_notification' 'active' %}">
                        <a href="{% url 'student_send_notification' %}"><i class="fas fa-bell"></i> <span>Send Student Notification  </span></a>
                     </li>
                     <li class="{% active_link 'staff_feedback' 'active' %}">
                        <a href="{% url 'staff_feedback' %}"><i class="fas fa-comments"></i> <span>Staff Feedback</span></a>
                     </li>
                     <li class="{% active_link 'stuff_leave_view' 'active' %}">
                        <a href="{% url 'stuff_leave_view' %}"><i class="fas fa-envelope"></i> <span>Staff Leave</span></a>
                     </li>
                     <li>
                        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                     </li>
                  </ul>
                  {% elif user.user_type == '2' %}
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="{% active_link 'stuff_home' 'active' %}">
                        <a href="{% url 'stuff_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                     </li>
                     <li class="{% active_link 'staff_take_attendance' 'active' %}">
                        <a href="{% url 'staff_take_attendance' %}"><i class="fas fa-calendar-alt"></i> <span>Take Attendance</span></a>
                     </li>
                     <li class="{% active_link 'staff_view_attendance' 'active' %}">
                        <a href="{% url 'staff_view_attendance' %}"><i class="fas fa-calendar-alt"></i> <span>View/Update Attendance</span></a>
                     </li>
                     <li class="{% active_link 'add_result' 'active' %}">
                        <a href="{% url 'add_result' %}"><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
                     </li>
                     <li class="{% active_link 'stuff_view_result' 'active' %}">
                        <a href="{% url 'stuff_view_result' %}"><i class="fas fa-poll-h"></i><span>View Result</span></a>
                     </li>
                     <li class="{% active_link 'stuff_apply_leave' 'active' %}">
                        <a href="{% url 'stuff_apply_leave' %}"><i class="fas fa-envelope-open"></i> <span>Apply For Leave</span></a>
                     </li>
                     <li class="{% active_link 'stuff_feedback' 'active' %}">
                        <a href="{% url 'stuff_feedback' %}"><i class="fas fa-comment"></i> <span>Send Feedback</span></a>
                     </li>
                     <li class="{% active_link 'notifications' 'active' %}">
                        <a href="{% url 'notifications' %}"><i class="fas fa-bell"></i> <span>Notifications</span></a>
                     </li>
                     <li>
                        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                     </li>
                  </ul>
                  {% else %}
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="{% active_link 'student_home' 'active' %}">
                        <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                     </li>
                     <li class="{% active_link 'student_view_attendance' 'active' %}">
                        <a href="{% url 'student_view_attendance' %}"><i class="fas fa-calendar-alt"></i><span>View Attendance</span></a>
                     </li>
                     <li class="{% active_link 'student_view_result' 'active' %}">
                        <a href="{% url 'student_view_result' %}"><i class="fas fa-poll-h"></i><span>View Result</span></a>
                     </li>
                     <li class="{% active_link 'student_re_notification' 'active' %}">
                        <a href="{% url 'student_re_notification' %}"><i class="fas fa-bell"></i><span>Notification</span></a>
                     </li>
                     <li>
                        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                     </li>
                  </ul>
                  {% endif %}



               </div>
            </div>
         </div>